
h1{
    text-align: center;
    padding: 10px;
    background: lime;
    font-family: 'Press Start 2P';
}
p{
    font-family: 'Pacifico';
}
em{
    font-family: 'Fredoka One';
    text-shadow: 2px -1px red;
}

strong{
    font-size: 10px;
}

a{
    font-family: 'Chelsea Market';
    font-size: 10px;
    text-decoration: none;
}
